<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5422/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
        <property name="hibernate.show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
    </session-factory>
</hibernate-configuration>